@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 1.4rem;
  background-color: #1F1E29;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../images/bg-stars.svg), url(../images/pattern-hills.svg);
  background-position: top, bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: auto 75vh, 100vw 25vh;
  position: relative;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

h1 {
  margin: 13.2rem 0rem 10.4rem 0rem;
  color: #FFF;
  font-size: 2.2rem;
  line-height: 2.9rem;
  text-align: center;
  letter-spacing: .75rem;
  text-transform: uppercase;
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 70rem;
  max-height: 18.4rem;
}

.counter__card-wrapper {
  width: 14.8rem;
  height: 18.4rem;
  font-size: 8rem;
}

.counter__card {
  background-color: #343650;
  border-radius: .8rem;
  margin-right: 3.2rem;
  width: 100%;
  height: 81.5%;
  position: relative;
}

.counter__card p {
  line-height: 7.1rem;
  text-align: center;
  letter-spacing: -.24rem;
  color: #FB5E84;
}

.counter__card--top, .counter__card--bottom {
  position: absolute;
  height: 49.5%;
  overflow: hidden;
  width: 100%;
}

.counter__card--top {
  border-radius: 8px 8px 0px 0px;
  background: #2C2E44;
  top: 0%;
}

.counter__card--top p {
  margin-top: 37px;
}

.counter__card--bottom {
  top: 51%;
  border-radius: 0 0 4px 4px;
}

.counter__card--bottom p {
  margin-top: -37px;
}

.counter__card:last-child {
  margin-right: 0rem;
}

.counter__card-label {
  margin-top: 1.4rem;
  line-height: 1.9rem;
  text-align: center;
  letter-spacing: .591875rem;
  color: #8385A9;
  text-transform: uppercase;
  font-size: 1.4rem;
}

footer {
  position: absolute;
  bottom: 9.8%;
  width: 13.6rem;
  height: 2.4rem;
  color: #FB5E84;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  list-style: none;
}

footer svg path {
  -webkit-transition: fill .5s ease;
  transition: fill .5s ease;
}

footer li:hover path {
  fill: #FB5E84;
}

@media only screen and (max-width: 750px) {
  .counter {
    width: 100%;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  .counter__card-wrapper {
    width: 7rem;
    height: 9.2rem;
    font-size: 3.6rem;
  }
  .counter .counter__card-label {
    font-size: 7px;
    line-height: 9px;
    letter-spacing: 2.95937px;
  }
  .counter .counter__card--top p {
    margin-top: 0px;
  }
  ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
/*# sourceMappingURL=styles.css.map */