.header_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 4rem;
}

.title {
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 15px;
  color: #ffffff;
  flex: 1;
}

.moon_logo {
  width: 2.5rem;
  height: 2.6rem;
  align-self: center;
  cursor: pointer;
}

@media only screen and (max-width: 450px) {
  .title {
    font-size: 2rem;
    line-height: 2rem;
  }

  .moon_logo {
    width: 2rem;
    height: 2rem;
  }
}
