@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: 'Chivo', sans-serif;
  font-size: 18px;
  background-color: #121725;
}

.hero {
  padding: 130px 0px 130px 165px;
  width: 100%;
  height: calc(100% - 260px);
  position: relative;
}

.hero-logo {
  position: absolute;
  top: 102px;
  left: 165px;
}

.hero-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.hero-bg-pattern {
  position: absolute;
  bottom: 120px;
  right: 0px;
  z-index: 1;
}

.image-cover {
  max-width: 888px;
  height: 640px;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-text-wrapper {
  width: 723px;
  height: 509px;
  background-color: #121725;
  position: absolute;
  top: 131px;
  left: 0px;
  padding: 88px 58px 0px 0px;
}

.title {
  font-size: 52px;
  line-height: 62px;
  text-transform: uppercase;
  color: #FFF;
  padding-bottom: 24px;
}

.first-line {
  color: #54E6AF;
}

.subheader {
  font-size: 18px;
  line-height: 28px;
  color: #C2CBE5;
  max-width: 445px;
  padding-bottom: 40px;
}

.email-container {
  min-width: 250px;
  max-width: 427px;
  position: relative;
}

.input-template, .input-email, .input-email-mobile {
  border: none;
  font-weight: bold;
  background-color: #2C344B;
  border-radius: 28px;
  width: 100%;
  font-size: 14px;
  color: #FFF;
  outline: none;
}

.input-email {
  height: 56px;
  line-height: 16px;
  padding: 14px 0px 14px 32px;
}

.button-template, .email-button, .email-button-mobile {
  height: 46px;
  border-radius: 28px;
  border: none;
  font-size: 14px;
  line-height: 28px;
  color: #121725;
  font-weight: bold;
  background-color: #54E6AF;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.email-button {
  width: 162px;
  position: absolute;
  right: 5px;
  top: 5px;
  margin-bottom: 64px;
}

.email-button:hover {
  background-color: #B3FFE2;
}

#email-error-message {
  font-size: 12px;
  line-height: 14px;
  color: #FB3E3E;
  padding-left: 32px;
  padding-top: 8px;
  padding-bottom: 42px;
  font-weight: bold;
  opacity: 0;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 536px;
  height: 29px;
}

.logo-podcast {
  height: 100%;
  width: auto;
}

.logo-podcast:nth-child(4) {
  padding-right: 0px;
}

.logo-spotify {
  width: 96px;
  height: 29px;
  margin-right: 40px;
}

.logo-apple-podcast {
  width: 78px;
  height: 29px;
  margin-right: 40px;
}

.logo-google-podcast {
  width: 125px;
  height: 18px;
  margin-right: 40px;
}

.logo-pocket-podcast {
  width: 129px;
  height: 26px;
}

@media only screen and (min-width: 675px) and (max-width: 1100px) {
  .hero {
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: 100%;
  }
  .hero-logo {
    position: absolute;
    top: 50px;
    left: 39px;
  }
  .hero-container {
    width: 100%;
    height: 767px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .image-cover {
    max-width: 491px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero-text-wrapper {
    width: 635px;
    height: 509px;
    top: 261px;
    left: 39px;
    padding: 93px 0px 0px 0px;
  }
  .title {
    font-size: 48px;
    line-height: 56px;
    padding-bottom: 31px;
  }
  .hero-bg-pattern {
    bottom: -257px;
    left: 39px;
  }
}

.hero-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background: black;
}

.hero-mobile:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.15;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-image: url("../assets/mobile/image-host.jpg");
}

.hero-logo-mobile {
  width: 134px;
  height: auto;
  padding: 62px 0px 57px 0px;
}

.hero-text-wrapper-mobile {
  text-align: center;
  margin: 0px 24px;
  z-index: 2;
}

.title-mobile {
  font-size: 26px;
  line-height: 38px;
  text-transform: uppercase;
  color: #FFF;
  padding-bottom: 16px;
}

.subheader-mobile {
  font-size: 15px;
  line-height: 25px;
  color: #C2CBE5;
  padding-bottom: 33px;
}

.logo-container-mobile {
  width: 100%;
  height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 48px;
}

.logo-spotify-mobile {
  width: 56px;
  height: 17px;
  margin-right: 23px;
}

.logo-apple-podcast-mobile {
  width: 45px;
  height: 17px;
  margin-right: 25px;
}

.logo-google-podcast-mobile {
  width: 73px;
  height: 11px;
  margin-right: 16px;
}

.logo-pocket-podcast-mobile {
  width: 77px;
  height: 15px;
}

.input-email-mobile {
  height: 46px;
  line-height: 28px;
  padding: 9px 0px 9px 32px;
}

.button-template, .email-button, .email-button-mobile {
  height: 46px;
  border-radius: 28px;
  border: none;
  font-size: 14px;
  line-height: 28px;
  color: #121725;
  font-weight: bold;
  background-color: #54E6AF;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.email-button-mobile {
  width: 100%;
  margin-top: 25px;
}

#email-error-message-mobile {
  font-size: 12px;
  line-height: 14px;
  color: #FB3E3E;
  padding-left: 0px;
  padding-top: 8px;
  font-weight: bold;
  opacity: 0;
}

@media only screen and (min-width: 676px) {
  .hero-mobile {
    display: none;
  }
}

@media only screen and (max-width: 675px) {
  .hero {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */