
// $primary-color: #8385A9;
// $secondary-color: #1F1E29;
// $third-color: #FB5E84;
// $fourth-color: #2C2E44;
$white-color: #FFF;

$Dark-Blue-1: #1B2330;
$Dark-Blue-2: #181F2B;
$Dark-Blue-3: #0B1524;
$Dark-Blue-4: #202A3C;

$input-text: #07043B;
// ### Accent

$Cyan: #63E1D9;
$Cyan-Text: #62E0D9;
$Cyan-Hover: #8ADAE3;
$Blue: #34A0CD;
// - Light Red (error): hsl(0, 100%, 63%)

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;
