@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@400;700&family=Raleway:wght@400;700&display=swap");
.btn {
  background: linear-gradient(138.1deg, #63E1D9 -49.34%, #34A0CD 100%);
  -webkit-box-shadow: 0.2rem 0.3rem 0.6rem rgba(0, 0, 0, 0.15925);
          box-shadow: 0.2rem 0.3rem 0.6rem rgba(0, 0, 0, 0.15925);
  border-radius: 2.8rem;
  color: #FFF;
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 1.9rem;
  padding: 1.9rem 9.6rem;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  z-index: 10;
}

@media only screen and (max-width: 800px) {
  .btn {
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 1.6rem 8.1rem;
  }
}

.btn:hover {
  background: #8ADAE3;
}

.underline-text {
  color: #62E0D9;
}

.underline-text:hover {
  color: #FFF;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #FFF;
  overflow-x: hidden;
}

body {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[7];
      grid-template-rows: repeat(7, -webkit-min-content);
      grid-template-rows: repeat(7, min-content);
  -ms-grid-columns: [full-start] (1fr)[2] [full-end];
      grid-template-columns: [full-start] repeat(2, 1fr) [full-end];
}

.nav {
  grid-column: full-start / full-end;
  padding: 7.5rem 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1B2330;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .nav {
    padding: 4.2rem 4.4rem;
  }
}

@media only screen and (max-width: 400px) {
  .nav {
    padding: 2.4rem 2rem;
  }
}

.nav__logo {
  max-width: 17.6rem;
}

@media only screen and (max-width: 800px) {
  .nav__logo {
    max-width: 9.7rem;
  }
}

@media only screen and (max-width: 400px) {
  .nav__logo {
    max-width: 8rem;
  }
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(2.4rem, 4vw, 5.7rem);
  list-style-type: none;
}

.nav ul li {
  font-size: clamp(1.2rem, 1.5vw, 1.6rem);
  line-height: clamp(1.4rem, 1.5vw, 1.9rem);
  font-family: "Raleway", sans-serif;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.nav ul li a:link {
  color: #FFF;
  background-color: transparent;
  text-decoration: none;
}

.nav ul li a:visited {
  color: #FFF;
  background-color: transparent;
  text-decoration: none;
}

.nav ul li a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-weight: bold;
}

.hero {
  background-color: #1B2330;
  grid-column: full-start / full-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-bottom: 16rem;
}

@media only screen and (max-width: 800px) {
  .hero {
    padding-bottom: 12rem;
  }
}

.hero__image {
  width: 100%;
  max-width: 72.4rem;
  padding: 0rem 3.6rem;
  z-index: 10;
}

.hero h1 {
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
  line-height: 6rem;
  padding: 3.6rem 24.5% 3.2rem 24.5%;
  text-align: center;
  z-index: 10;
}

@media only screen and (max-width: 800px) {
  .hero h1 {
    font-size: 2.4rem;
    line-height: 3.6rem;
    padding: 3.3rem 2.8rem 1.5rem 2.8rem;
  }
}

.hero h3 {
  padding: 0rem 29.5% 3.2rem 29.5%;
  font-weight: 400 !important;
  font-style: normal;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  z-index: 10;
}

@media only screen and (max-width: 800px) {
  .hero h3 {
    font-size: 1.4rem;
    line-height: 2.1rem;
    padding: 1.5rem 4rem 3.2rem 4rem;
  }
}

.hero__bg {
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  z-index: 5;
  width: 100vw;
  height: auto;
}

.features {
  background-color: #181F2B;
  grid-column: full-start / full-end;
  width: 100%;
}

.features__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  row-gap: 7.9rem;
  -webkit-column-gap: 14.7rem;
          column-gap: 14.7rem;
  padding: 0rem 19.4% 13.7rem 19.4%;
  width: 100%;
  justify-items: center;
}

@media only screen and (max-width: 500px) {
  .features__container {
    padding: 0rem 2.7rem 16rem 2.7rem;
  }
}

@media only screen and (max-width: 350px) {
  .features__container {
    -ms-grid-columns: (minmax(24rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  }
}

.features__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 1.6rem;
  width: auto;
  height: 10.4rem;
}

@media only screen and (max-width: 800px) {
  .features__logo {
    width: auto;
    height: 8rem;
  }
}

.features__item h2 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.3rem;
  text-align: center;
  margin-bottom: 0.8rem;
}

.features__item h5 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-align: center;
  color: #FFF;
}

.informations__img {
  padding-left: 10.5rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  background-color: #181F2B;
}

@media only screen and (max-width: 62.5em) {
  .informations__img {
    grid-column: 1 / -1;
    padding: 0rem 2.8rem;
  }
}

.informations__img img {
  display: block;
  margin: 0 auto;
  max-width: 61.5rem;
  width: 100%;
  padding: 0rem 3.6rem;
}

.informations__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #181F2B;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  padding-right: 10.1rem;
}

@media only screen and (max-width: 62.5em) {
  .informations__text {
    grid-column: 1 / -1;
    padding: 4.8rem 2.8rem 0rem 2.8rem;
  }
}

.informations__text > * {
  padding-bottom: 1.9rem;
}

.informations__text h1 {
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
  line-height: 5rem;
  width: 80%;
}

@media only screen and (max-width: 62.5em) {
  .informations__text h1 {
    width: 100%;
  }
}

.informations__text h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-style: normal;
  font-weight: normal;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.informations__text--underline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.informations__text--underline a {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-style: normal;
  font-weight: normal;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #62E0D9 !important;
  padding-bottom: 0.4rem;
  border-bottom: 0.1rem solid #62E0D9;
  text-decoration: none;
}

.informations__text--underline a:hover {
  color: #FFF !important;
  border-bottom: 0.1rem solid #FFF;
}

.informations__text--underline a:hover img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.informations__text--underline img {
  -webkit-transform: translateY(0.4rem);
          transform: translateY(0.4rem);
  padding-left: 0.7rem;
}

.testimonials {
  background-color: #181F2B;
  grid-column: full-start / full-end;
  padding: 12rem 12rem 9rem 12rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(28rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  row-gap: 2.4rem;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
}

@media only screen and (max-width: 62.5em) {
  .testimonials {
    grid-column: 1 / -1;
    padding: 0rem 4.8rem 5rem 4.8rem;
  }
}

@media only screen and (max-width: 350px) {
  .testimonials {
    -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

.testimonials__cards {
  background: #202a3c;
  -webkit-box-shadow: 0.5rem 0.5rem 0.8rem 0.4rem rgba(56, 56, 56, 0.0991282);
          box-shadow: 0.5rem 0.5rem 0.8rem 0.4rem rgba(56, 56, 56, 0.0991282);
  border-radius: 0.34rem;
  padding: 4rem 2.6rem 2.6rem 2.6rem;
  z-index: 5;
}

.testimonials__cards p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: 0.05rem;
}

.testimonials__cards:nth-child(1) {
  position: relative;
  z-index: 500;
}

.testimonials__footer {
  padding-top: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__footer img {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
}

.testimonials__footer-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0.8rem;
}

.testimonials__footer-name h6 {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.2rem;
}

.testimonials__footer-name p {
  font-size: 0.7rem;
  line-height: 1rem;
}

.testimonials__quote {
  position: absolute;
  top: -3rem;
  left: 0rem;
  z-index: 3;
}

.mail {
  background-color: #181F2B;
  padding: 0rem 20%;
  grid-column: full-start / full-end;
  text-align: center;
}

@media only screen and (max-width: 50em) {
  .mail {
    padding: 0rem 2rem;
  }
}

.mail__container {
  background-color: #1B2330;
  padding: 4.2rem 7.7rem 2.2rem 7.7rem;
  -webkit-box-shadow: 0.5rem 0.5rem 0.8rem rgba(0, 0, 0, 0.254274);
          box-shadow: 0.5rem 0.5rem 0.8rem rgba(0, 0, 0, 0.254274);
  border-radius: 0.9rem;
  -webkit-transform: translateY(110px);
          transform: translateY(110px);
}

@media only screen and (max-width: 50em) {
  .mail__container {
    padding: 4rem 2.8rem 3.7rem 2.8rem;
  }
}

.mail__container h1 {
  font-family: "Raleway", sans-serif;
  font-size: 3.2rem;
  line-height: 4.8rem;
  font-weight: bold;
}

@media only screen and (max-width: 50em) {
  .mail__container h1 {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}

.mail__container h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-style: normal;
  font-weight: 400;
  padding: 1.6rem 1.8rem 3.8rem 1.8rem;
}

@media only screen and (max-width: 50em) {
  .mail__container h3 {
    padding: 1.6rem 2.8rem 3.2rem 2.8rem;
  }
}

.mail__buttons-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mail__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3rem;
  width: 100%;
}

@media only screen and (max-width: 50em) {
  .mail__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0rem;
  }
}

.mail__buttons .input-email {
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.6rem;
  background-color: #FFF;
  border-radius: 2.4rem;
  width: 100%;
  color: #07043B;
  outline: none;
  max-width: 48rem;
  height: 4.8rem;
  padding: 1.8rem 20rem 1.8rem 3.8rem;
}

.mail__buttons button {
  padding: 1.5rem 2.6rem;
  height: 4.8rem;
  max-width: 20rem;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.6rem;
  width: 100%;
}

@media only screen and (max-width: 50em) {
  .mail__buttons button {
    max-width: 100%;
    width: 48rem;
  }
}

.mail #email-error-message {
  height: 2.4rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #fb3e3e;
  padding-left: 3.2rem;
  padding-top: 0.8rem;
  font-weight: bold;
  opacity: 0;
  text-align: left;
}

.footer {
  background-color: #0B1524;
  padding: 17rem 8.1rem 5.3rem 12rem;
  grid-column: full-start / full-end;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: left;
}

@media only screen and (max-width: 50em) {
  .footer {
    padding: 17rem 2.8rem 5.3rem 2.8rem;
  }
}

.footer__logo {
  margin-bottom: 5.2rem;
  width: auto;
  height: 3.1rem;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 38rem;
  margin-right: 8rem;
  margin-bottom: 1.6rem;
}

.footer__col-1 p {
  padding-left: 1.6rem;
}

.footer__col-icon-logo {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.footer__col-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
  margin-right: 14.6rem;
  margin-bottom: 5.6rem;
}

.footer__col-2 p {
  padding-left: 1.6rem;
}

.footer__col-2 img {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.footer__col-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
  margin-right: 8rem;
  margin-bottom: 4.8rem;
}

.footer__col-3 a:link {
  color: #FFF;
  background-color: transparent;
  text-decoration: none;
}

.footer__col-3 a:visited {
  color: #FFF;
  background-color: transparent;
  text-decoration: none;
}

.footer__col-3 a:hover {
  font-weight: bold;
}

.footer__col-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
  margin-right: 10.8rem;
  margin-bottom: 5.6rem;
}

.footer__col-4 a:link {
  color: #FFF;
  background-color: transparent;
  text-decoration: none;
}

.footer__col-4 a:visited {
  color: #FFF;
  background-color: transparent;
  text-decoration: none;
}

.footer__col-4 a:hover {
  font-weight: bold;
}

.footer__col-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.1rem;
}

@media only screen and (max-width: 50em) {
  .footer__col-5 {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__icon {
  width: 3.2rem;
  height: 3.2rem;
  border: 0.05rem solid #FFF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__icon:hover {
  border: 0.05rem solid #62E0D9;
  color: #62E0D9;
}
/*# sourceMappingURL=main.css.map */