// Primary

$primary-soft-cyan: #A4F3EB;
$primary-strong-cyan: #10D8C4;
$primary-really-strong-cyan: #7AEADF;
$primary-light-Grayish-Red: #FEEDE8;
$primary-Light-Red: #FF8D68;
$primary-Pale-Blue: #BECDFF;

// Neutral

$neutral-White: hsl(0, 0%, 100%);
$neutral-Very-Pale-Blue: #F9FAFF;
$neutral-Light-Grayish-Blue: #ECF0FB;
$neutral-Light-2-Grayish-Blue: #CFD8EF;
$neutral-Grayish-Blue: #848EAD;
$neutral-Dark-Desaturated-Blue: #293356;

$white: #FFFFFF;